@page
@model IndexModel
@{
    ViewData["Title"] = "IT 310 Welcome Page";

}

<div>
    
    <form method="post">
        <div> Email: <input type="email" name="emailaddress" /></div>
        <div> Username: <input type="text" name="username" /></div>
        <div> Password: <input type="password" name="password" /></div>
        <input type="submit" />
    </form>
</div>
